@model FileUploadMvcApplication.Models.FileUploader


@{
    ViewBag.Title = "title";
}

<h2>File Uploader</h2>
<script type="text/javascript">
    function addLabel() {
        var label = document.createElement("Label");
        label.innerHTML = "New Label";
    }

    function addtxtBox() {
        //var count=10;
        var b = "";
        var a = document.frm.txt.value;

        for (var i = 1; i <= a; i++) {
            document.write('<table width="40%">');
            document.write('<tr><td>Name :</td>');
            document.write('<td><input type="text" name="txt"></td></tr>');
            document.write('</table>');
        }
    }

</script>

@using (@Html.BeginForm("ProcessUploadedFile", "FileUpload", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <fieldset>

        @Html.ValidationMessageFor(model => model.FileName)
        <br/>
        @Html.TextBoxFor(m => m.UploadFile, null, new {type = "file", @class = "fileupload", multiple = "true"})
        <input type="submit" id="submit" value="Confirm" />
        <input type="reset" id="reset" value="Reset"/>

        @*@if (Model.FileName != null)
        {
            foreach (var i in Model.UploadFile.ToList())
            {
                <tr>
                    <td>
                        <h3>@i.FileName</h3>
                    </td>
                </tr>
            }
        }*@

        @*

        <input type="submit" id="submit" value="Upload"/>

            @Html.HiddenFor(model => model.FileName)
        @Html.HiddenFor(model => model.UploadFile)

        @Html.ValidationMessageFor(model => model.UploadFile)
        @if (Model.UploadFile != null)
        {
            <h3>test here</h3>
            for (var i = 0; i < Model.UploadFile.Count; i++)
            {
                <h3>loop testing</h3>
            }
            foreach (var i in Model.UploadFile.ToList())
            {
                <h3>test1</h3>
                <h3>i.FileName</h3>
            }
        }*@
            </fieldset>
}
